<h2>Create Article Form</h2>
<div class="form-group">
    <form [formGroup]="articleForm" (ngSubmit)="onSubmit()">
        <div class="title">
            <input type="text" placeholder="Title" name="title" formControlName="title">
        </div>
        <div class="content">
            <textarea rows="10" cols="40" placeholder="Content" name="content" formControlName="content"></textarea>
        </div>
        <div class="hidden">
            Private <input type="checkbox" name="hidden" formControlName="hidden">
        </div>
        <button type="submit">Create</button>
    </form>

</div>
<h4>Article title is {{articleForm.value | json}}</h4>