<h2>Sign Up</h2>
<div class="form-group">
    <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
        <div class="username">
            <input type="text" placeholder="username" name="username" formControlName="username">
        </div>
        <div *ngIf="username.invalid && (username.dirty || username.touched)">
            Username is required!
        </div>
        <div class="email">
            <input type="text" placeholder="Email" name="email" formControlName="email">
        </div>
        <div *ngIf="email.invalid && (email.dirty || email.touched)">
            Enter the valid email!
        </div>
        <div *ngIf="email.invalid && email.touched">
            Email is required!
        </div>
        <div class="password">
            <input type="password" placeholder="Password" name="password" formControlName="password">
        </div>
        <div *ngIf="password.invalid && password.touched">
            Password is required!
        </div>
        <div *ngIf="password.invalid && (password.dirty || password.touched)">
            Password must have more then 6 characters
        </div>
        <button type="submit">Sign Up</button>
    </form>
</div>
<h4>Value: {{  signUpForm.value | json}}</h4>
<h4>Status: {{  signUpForm.status | json}}</h4>